localhost:44107 {
	tls internal

	rate_limit {
		zone rpc {
			key    {remote_host}
			events 100
			window 1m
		}
	}

	jsonrpc_cache {
		cache getblocktemplate 1s
	}

	reverse_proxy 127.0.0.1:18334
}
