node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
out
generated

.next
next-env.d.ts

.env*
.flaskenv*
!.env.project
!.env.vault
!.env.example
.terraform
*.tfplan
*.tfstate
*.tfstate.*
plan_output.txt

mongodb-data
.pnpm-store/
.cursorrules
.cursor

# e2e
apps/cloud-mining/e2e/test-results/

# pearl-desktop-wallet
apps/pearl-desktop-wallet/build
apps/cloud-mining/frontend/public/downloads/

electron.vite.config.*.mjs